rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /connections/{connectionId} {
      allow read, delete: if isSignedIn()
        && resource.data.ownerId == request.auth.uid;
      allow create: if isSignedIn()
        && request.resource.data.ownerId == request.auth.uid;
      allow update: if isSignedIn()
        && resource.data.ownerId == request.auth.uid
        && request.resource.data.ownerId == resource.data.ownerId;
    }

    match /contacts/{contactId} {
      allow read, delete: if isSignedIn()
        && resource.data.ownerId == request.auth.uid;
      allow create: if isSignedIn()
        && request.resource.data.ownerId == request.auth.uid;
      allow update: if isSignedIn()
        && resource.data.ownerId == request.auth.uid
        && request.resource.data.ownerId == resource.data.ownerId
        && request.resource.data.connectionId == resource.data.connectionId;
    }

    match /messages/{messageId} {
      allow read, delete: if isSignedIn()
        && resource.data.ownerId == request.auth.uid;
      allow create: if isSignedIn()
        && request.resource.data.ownerId == request.auth.uid;
      allow update: if isSignedIn()
        && resource.data.ownerId == request.auth.uid
        && request.resource.data.ownerId == resource.data.ownerId
        && request.resource.data.connectionId == resource.data.connectionId;
    }
  }
}
